.btn{
    width:200px;
    height: 50px;
    background-color: blue;
    color: white;
    font-style: italic;
}
.myProgress {
    width: 100%;
    background-color: #ddd;
    border: 1px solid blue;
}
  
  .myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
  }
 #showCount{
    color: blue;
    font-size: 24px;
    font-style: italic;
    font-family: sans-serif;
 }   
 body{
     background-color: lightblue;
 }